.profile-box {
  display: flex;
  flex-direction: column;
  background-color: #dbdbdb;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 15px;
  gap: 1rem;

  .profile-image {
    border-radius: 20%;
  }

  .profile-label {
    font-weight: 500;
    font-size: medium;
  }
}
